<h1>Listing People</h1>

<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.lastname %></td>
    <td><%= person.firstname %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Import People!', import_people_path %>
